

header {
	background-color: lightgreen;
	border-bottom: 1px dotted gray;
}

footer { 
	
    background-color: lightgreen;
		border-top: 1px dotted gray;
        text-align: center;
}

#left{
    float: left; width: 150px; height: auto;
    background-color: #dddddd;

}


#right{
    float: right; width: 150px; height: auto;
    background-color: lightgreen;
}


li{
    list-style-type: none;
    color: lightgreen;

}

ul{
    color: lightgreen;
}


