* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body{
    scrollbar-width: 0px;
  }
  
  #Insta {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #Insta header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 44px;
    min-height: 44px;
    padding: 0 16px;
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  #Insta main {
    flex: 1;
    background: #f3f3f3;
    padding: 45px;
  }
  #Insta footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 44px;
    min-height: 44px;
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  #insta footer svg {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 75px;
    display: flex;
  }
  